html,body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
}

body, h1, h2, h3, h4, h5, h6, fieldset, ul, ol, dl, dt, dd, p, button, figure, xmp {
  margin:0;padding:0;
}

body {
    background: #eee;
    font: 500 14px/1.5 'SpoqaHan', 'sans-serif';
    color: #111;
    word-break:keep-all;
    -webkit-touch-callout:none;
    box-sizing:border-box;
    -webkit-text-size-adjust:none;
    text-size-adjust:none;
    letter-spacing:-0.5px;
}

legend, caption {
  overflow:hidden;
  top:0;left:0;
  z-index:-1;
  width:1px;
  height:1px;
  clip:rect(1px,1px,1px,1px);
  clip-path:inset(50%);
  color:transparent;
  font-size:1px;
  margin-top:-1px
}

a {
  text-decoration:none;
  color:inherit;
}

a[href^="tel"] {
  cursor:default;
}

fieldset, button {
  background:none;
  border:0px;
}

li {
  list-style:none;
}

table {
  width:100%;
  border-spacing:0px;
  border-collapse:collapse;
}

iframe {
  width:100%;
  vertical-align:middle;
  border:0 none;
}

button, input, optgroup, select, textarea {
  font:inherit;
}

button {
  cursor:pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:700;
  -webkit-font-smoothing:subpixel-antialiased;
}

input,select,textarea {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  -webkit-border-radius:0;
  border-radius:0;
}

b, strong {
  font-weight:700;
}

em {
  font-style:inherit;
}

#wrap{
    height:100%;
}

#header{
  position:fixed;
  top:0;left:0;
}

#container,#contents{
  height:100%;
}

#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

#slideContainer {
  width: 400%;// 100*4 slides
  height: 100%;
}

.panel {
  float: left;
  width: 25%; // 400/25 = 100%
  height: 100%;
  font-size: 60px;
  text-align: center;
  color: #fff;
}

.one {
    background-color: #fe4365;
}

.two {
    background-color: #fc9d9a;
}

.three {
    background-color: #f9cdad;
}

.four {
    background-color: #c8c8a9;
}

